@tailwind preflight;

@import 'fonts';

html, body {
    @apply font-atc;
    background-image: url('/images/badge-bkg.png');
    background-attachment: fixed;
    background-size: 200px 200px;
}

a {
    color: #6490A6;
    @apply .no-underline font-semibold;

    &:hover {
        color: #B3DDF2;
        @apply underline;
    }
}

p {
    @apply font-thin leading-normal text-xl mb-3;
}

.large-box {
    @apply rounded overflow-hidden;
}

.why {
    @apply font-bold text-xl mb-0 mt-8;
}

.rule {
    @apply font-black text-3xl mb-4 mt-16 w-4/5;

    span {
        @apply text-grey-darker text-2xl;
    }
}

nav {
    a {
        color: white;
    }

    &.top-nav {
        @apply flex justify-between justify-end bg-grey-light p-1 flex-wrap items-center;
    
        a {
            @apply text-grey-darker;
        }
    }
}

.rules-item {
    @apply inline-flex items-start w-full px-4 py-2;

    @screen sm {
        @apply w-1/2;
    }

    .icon {
        width: 120px;
        flex: 0 0 120px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}


@tailwind utilities;

