---
title: Home
---

<div class="container mx-auto pt-32">

<div class="large-box mx-auto lg:w-2/3 flex px-8 bg-white">
    <div class="w-64">
        <img src="/images/fitz.jpg" class="rounded-full">
    </div>
    <div class="px-4">
        <h3 class="text-xl"><span class="text-sm font-thin">by</span> Brian Fitzpatrick</h3>
        <p class="text-sm">November 9th, 2017</p>
        <p class="text-base text-grey-darker">
        Founder & CTO: Tock, Inc. <a href="https://tocktix.com/" target="_blank">https://tocktix.com</a>, Xoogler, Ex-Apple, Author, Co-founder of ORD Camp. ‘No Formal Authority’ — HBR ✶✶✶✶ Chicagophile ✶✶✶✶
        </p>
    </div>
</div>

<div class="large-box mx-auto lg:w-2/3 bg-white">
    <div class="px-8 py-6">
        <h1 class="font-black text-4xl lg:text-5xl lg:w-4/5 mb-8">
        Ten Rules for a Better Conference Name Badge</h1>
        <p>
            I’ve spoken at <i>hundreds</i> of conferences in the course of my career and the one thing that most of them have in common is crappy name badges.
        </p>
        <p>
            I came face-to-face with this problem when Zach and I started running ORD Camp ten years ago: we started off with crappy name badges. Realizing that this was something we could control, I started thinking about what makes a good conference name badge and why. I subsequently ran several other internal conferences/summits at Google and these all gave me opportunities to iterate on badges and see what worked best to help attendees meet each other.
        </p>
        <p>    
            I’ve become, well, kind of obsessed with badges over the past few years, ranting about them to anyone in earshot, <a href="https://twitter.com/search?f=tweets&vertical=default&q=%23badgereviews&src=typd" target="_blank">rating them on Twitter</a> and hell, I even created one of those dreadful <a href="https://twitter.com/i/moments/833189960589119488" target="_blank">Twitter Moments</a> with an initial draft of these rules.
        </p>

        <div class="max-w-lg auto-mx rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/badge-worst.png" alt="The worst badge ever.">
        <div class="px-6 py-4">
            <p class="text-grey-darker text-center text-sm">
            Of all the name badges I’ve ever had, this is probably the worst.
            </p>
        </div>
        
        </div>



        <h2 class="font-black text-3xl mb-4 mt-16">Why Name Badges Matter</h2>
        <hr class="border-t">
        <p>
        People typically go to conferences for two reasons:
        </p>

        <ol class="my-4 text-xl font-thin leading-loose">
            <li>To learn something</li>
            <li>To meet other people</li>
        </ol>


        <p>
        Both of these reasons are really important parts of a successful conference. If the point of a conference is merely to learn something then it shouldn’t be a conference — it should be an essay, a book, a video, or (<b>shudder</b>) a webinar.
        </p>
        <p>
        If you can learn something via other means, meeting new people becomes the <b>most</b> important part of a conference. But meeting new people at a conference isn’t a given for all of us.
        </p>
        <p>
        Meeting new people can be difficult for many folks. Maybe you don’t know anyone at a conference. Maybe you’re not good at names and forgot the name of the person that you talked to for an hour last night. Maybe everyone knows you because you’re a speaker or well-known in your field and they met you last year, but you feel uncomfortable because you don’t even <i>remember</i> meeting them. Maybe you run into someone at a conference that you’ve never met In Real Life so you don’t even know exactly what they look like because their Twitter avatar is a picture of their cat. Whatever the reason, it’s really hard for some folks to meet and connect with new people, and bad badges don’t make it any easier.
        </p>
        <p>
        So if we know it’s hard to meet and connect with new people at a conference, we can and should do something about that if it’s within our power. It turns out it’s very easy to do this: have name badges that make it easier for people to make new connections!
        </p>
        <p>
        It’s not that hard to do if you follow these simple rules:
        </p>

          

        <h3 class="rule">
        <span>Rule 1</span><br>
        Everyone must wear a badge, no exceptions
        </h3>
        <hr class="border-t">
        <p>
        This one’s pretty easy as most conferences also use badges to identify attendees. Badges shouldn’t just be checked at the doors though, all attendees should wear them at all times.
        </p>
        
        <p class="why">Why is this important?</p>
        <p>
        To facilitate making new connections and meeting other people
        </p>
        

        <h3 class="rule">
        <span class="text-grey-darker text-2xl">Rule 2</span><br>
        It’s gotta be big
        </h3>
        <hr class="border-t">
        <p>
        More on this below, but the tag itself needs to be big to accomodate the name printed large and some other basic information. 4" x 8" or 4" x 6" preferably.
        </p>

        <p class="why">Why is this important?</p>
        <p>
        The name needs to be big and we want some other info on the badge.
        </p>

        <h3 class="rule">
        <span>Rule 3</span><br>Deemphasize the conference logo
        </h3>
        <hr class="border-t">
        
        <p>
        I get that you want the name of your conference and/or sponsors right up in everyone’s faces, but cut it out. Make it <b>small</b> and put it on the bottom of the badge, and if you must put it at the top, make it small and subtle.
        </p>

        <p class="why">Why is this important?</p>
        <p>We want to make it as easy as possible to read the name from a distance at a glance. Your bright and distracting logo at the very top of the badge makes this harder.
        </p>

        <h3 class="rule">
        <span>Rule 4</span><br>The name must be readable from at least fifteen feet away
        </h3>
        <hr class="border-t">

        <p class="mt-8 text-3xl font-italic text-center text-grey">
        “If it’s big and ugly, it’s not big enough.”
        </p>

        <div class="max-w-lg auto-mx rounded overflow-hidden shadow-lg mb-16">
        <img class="w-full" src="/images/badge-readable.png" alt="My name is in 13 point type on this tag. Srsly.">
        <div class="px-6 py-4">
            <p class="text-grey-darker text-center text-sm">
            My name is in 13 point type on this tag. Srsly.
            </p>
        </div>
        </div> 

        <p>
        You should be able to read a badge <b>with a quick and non-obvious/non-lingering glance</b> from a distance. Use a non-serif font designed to be readable from a distance like <a href="https://www.dafont.com/highway-gothic.font" target="_blank">Highway Gothic</a> (free) or <a href="http://www.clearviewhwy.com/" target="_blank">ClearviewHwy</a> ($$) which were designed for interstate signs. The name should be truly enormous which means at least 64 point type, preferably 72 points.
        </p>
        <p class="why">Why is this important?</p>
        <p>An important part of meeting new people is knowing what their name is, so if you want the people at your conference to meet new folks, you should make it as easy as possible for them to learn each others’ names.
        </p>
        <p>
        With a good badge, introductions are easier and it’s much less awkward to run into someone you know whose name you’ve forgotten. And importantly: If the badge wearer is a woman, you’re not asking other attendees to stare at her chest which is incredibly uncomfortable for the badge-wearer. Discourage creepiness!
        </p>

        <h3 class="rule">
        <span>Rule 5</span><br> Give people another reason to look at name badges
        </h3>
        <hr class="border-t">

        <p>
        And I don’t just mean employer or title (in fact, I’d discourage folks from using employer or title on most badges as it can be uncomfortable for some folks), but rather something interesting like a few topics you’re interested in talking about (like the “ask me about” on my tag at the top). Also it’s nice to allow your attendees the option to add pronouns to their badge.
        </p>

        <p class="why">Why is this important?</p>
        <p>Interested topics can be a great conversation-starter! If I’m super excited about typesetting and your badge says “ask me about linotypes,” you can be damned sure that I’m going to start up a conversation with you. Also, if you join a small group of folks talking and you don’t know one, you have an excuse to look around at badges to see everyone’s name. Lastly, if you find yourself in the dreaded “I forgot that person’s name” zone, you’ve got an excuse to glance at their tag.
        </p>

        <h3 class="rule">
        <span>Rule 6</span><br> DON’T USE ALL CAPS
        </h3>
        <hr class="border-t">

        <div class="max-w-lg auto-mx rounded overflow-hidden shadow-lg mb-16">
        <img class="w-full" src="/images/badge-caps.png" alt="This illegible low-contrast ALL CAPS tag tore in the 1st hour of wearing it.">
        <div class="px-6 py-4">
            <p class="text-grey-darker text-center text-sm">
            This illegible low-contrast ALL CAPS tag tore in the 1st hour of wearing it.
            </p>
        </div>
        </div>  

        <p class="why">Why is this important?</p>
        <p>Because it’s harder to read ALL CAPS at a distance.
        </p>

        <h3 class="rule">
        <span>Rule 7</span><br> 
        No flipping
        </h3>
        <hr class="border-t">

        <p>
        The lanyard shouldn’t allow the badge to spin, flip, tilt, or otherwise do anything but lay flat against the person wearing it.
        </p>

        <p class="why">Why is this important?</p>
        <p>If the badge’s lanyard has one attach point, it’s going to spin, and unless you print the same thing on both sides (and you shouldn’t), half the attendees are going to be walking around with a badge that shows the agenda or a map of the location. This totally defeats the purpose of having a name badge in the first place, so look for a lanyard that attaches at both top corners of the badge holder (and a badge holder that has holes on both corners).
        </p>
        <p>
        Of course you can just print the same thing on both sides, but why not use the backside for something useful like a map of the space or basic agenda information? And if you do, print it <i>upside down</i> so that it’s easy for the wearer to flip it and read it.
        </p>

        <h3 class="rule">
        <span>Rule 8</span><br>The lanyard should be adjustable
        </h3>
        <hr class="border-t">
        <p class="why">Why is this important?</p>
        <p>Not everyone is the same size/proportions and it’s best to allow the wearer to adjust the tag so that it looks appropriate on their frame. Also, as I said above (and it bears repeating) if the badge hangs awkwardly on a woman’s chest, it invites creepiness. Discourage creepiness!
        </p>

        <h3 class="rule">
        <span>Rule 9</span><br>Keep it simple
        </h3>
        <hr class="border-t">
        <p>
        Avoid the temptation to make your badge into an art project.
        </p>
        <p class="why">Why is this important?</p>
        <p>Low-contrast type, abstract shapes, odd patterns, and names printed top-to-bottom or on the bias all make it harder to read the badges.
        </p>

        <h3 class="rule">
        <span>Rule 10</span><br>Ditch that QR code!
        </h3>
        <hr class="border-t">

        <p>
        If you need a QR code, then put it on the back of the badge!
        </p>

        <p class="why">Why is this important?</p>
        <p>They’re ugly as hell. And they create an awkward situation of standing there while someone points a cell phone camera at your chest. Discourage creepiness!
        </p>

        <div class="max-w-lg auto-mx rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/badge-ord.jpeg" alt="A badge the follows all the rules">
        <div class="px-6 py-4">
            <p class="text-grey-darker text-center text-sm">
            A 4x8" badge that follows all the rules.
            </p>
        </div>
        </div>  

        <h3 class="rule">
        Bonus
        </h3>
        <hr class="border-t">
        <p>
        If the folks attending your conference are big social media users, find a subtle way to put things like their Twitter handle on their badge.
        </p>


        <h3 class="rule">
        Give it a try!
        </h3>
        <hr class="border-t">
        <p>
        If your attendees are wearing a name badge anyway, why can’t it be a good one?
        </p>

        <p>
        I suspect that there are two reasons why most conferences have awful badges:
        </p>

        <p>
        First, when you’re running a conference you’ve got a million moving parts to worry about — it’s stressful and exhausting, and it’s easy to overlook details like badges.
        </p>

        <p>
        Second, good name badges are expensive. Your average cheapo spinny non-adjustable 3x4" badge probably costs about $0.60 while the badge at the top of this article costs something like $2.00. This might seem like a lot for something most people are probably going to throw away when the conference is over (unless you obsess about name badges like I do), but during the conference a good badge that helps attendees do the most important thing they’re there for (to meet new people!) is worth way more than $2.00; <i>it’s invaluable</i>.
        </p>

        <p class="text-grey-darkest text-base italic px-4 my-16 border-l-4">
        Special thanks to Erica Baker, Lucianne Walkowicz, Conrad Fuhrman and many others for contributing ideas to this essay.
        </p>


        </div>
    </div>
</div>