




<div class="w-4/5 mx-auto py-16">

<h3 style="text-align: center;">The People Behind Badge Reviews</h3>

<div class="bg-white mx-auto  mt-8 max-w-sm shadow-lg rounded-lg overflow-hidden">
  <div class="sm:flex sm:items-center px-6 py-4">
    <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="/images/fitz.jpg" alt="">
    <div class="text-center sm:text-left sm:flex-grow">
      <div class="mb-4">
        <p class="text-xl leading-tight">Brian Fitzpatrick</p>
        <p class="text-sm leading-tight text-grey-dark">Founder & CTO: Tock, Inc. https://www.exploretock.com/ , Xoogler, Ex-Apple, Author, Co-founder of ORD Camp. ✶✶✶✶ Chicagophile ✶✶✶✶ 'No Formal Authority' - HBR</p>
      </div>
      <div>
        <a href="https://twitter.com/therealfitz" target="_blank" class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-blue text-blue">@therealfitz</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-white mx-auto mt-8 max-w-sm shadow-lg rounded-lg overflow-hidden">
  <div class="sm:flex sm:items-center px-6 py-4">
    <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="/images/conrad.png" alt="">
    <div class="text-center sm:text-left sm:flex-grow">
      <div class="mb-4">
        <p class="text-xl leading-tight">Conrad Fuhrman</p>
        <p class="text-sm leading-tight text-grey-dark">CTO, Futureman Digital</p>
      </div>
      <div>
        <a href="https://twitter.com/conradfuhrman" class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-blue text-blue">@conradfuhrman</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-white mx-auto mt-8 max-w-sm shadow-lg rounded-lg overflow-hidden">
  <div class="sm:flex sm:items-center px-6 py-4">
    <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="/images/shawn.jpg" alt="">
    <div class="text-center sm:text-left sm:flex-grow">
      <div class="mb-4">
        <p class="text-xl leading-tight">Shawn Smith</p>
        <p class="text-sm leading-tight text-grey-dark">I want to delight and inspire people with my art and design. @Shawnimals @Ninjatown @Resketchbook ❤️ https://vimeo.com/89936101  Let's make something awesome!</p>
      </div>
      <div>
        <a href="https://twitter.com/shawnimal" target="_blank" class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-blue text-blue">@shawnimal</a>
      </div>
    </div>
  </div>
</div>
</div>