---
title: Home
---
<div class="text-center">

    <img src="/images/badge-hero.png" class="relative z-40" width="364" alt="">


</div>

<div class="text-center py-8">
    <a class="p-2 my-8 bg-white border-2" href="https://github.com/BadgeReviews/badges">
        <i class="fab fa-github"></i>
        Get the Kit (PSD, Illustrator)
    </a>
</div>


<section class="w-full bg-white p-8">
    <div class="w-4/5 text-center mx-auto">
        <h3 style="font-size: 36px;">Conference badges suck.</h3>
        
        <p>There needs to be a few rules when it comes to conference badges. After attending more than 300 conferences, it was a twitter moment from @therealfitz that sparked the core tenets of 
        Badge Reviews. With people asking for their badges to be reviewed using <i>#badgereviews</i>, we have now put the design and philosophy into what makes a good badge here. A simple kit 
        bundled with Overpass will help get you started too.
        </p>
    </div>
</section><section class="w-full bg-grey-lighter pt-8 pb-8">
<div class="large-box mx-auto lg:w-4/5">

    <h3 style="font-size: 72px; font-weight: 100; opacity: .25" class="py-8">
    <small>First and foremost.</small><br>
    Everyone Must Wear A Badge</h3>

    <p>Below are some of the fundamental design rules to follow with the creation of your badge. For more reasons why, check out <a href="/10-rules-for-a-better-conference-name-badge">the article</a>.</p>

    <div class="flex sm:w-full flex-wrap p-4 pt-8">
        <div class="rules-item">
            <div class="icon">
            <img src="/images/icon-size.png" class="mr-4" width="109">
            </div>
            <p>The first name should be large, 72pt minimum while the last name should be large too, but not take equal weight. The font should be easily readable. We recommend using Overpass.</p>
        </div>
        <div class="rules-item">
            <div class="icon">
            <img src="/images/icon-list.png" class="mr-4" width="54">
            </div>
            <p>Have attendees provide you 3 things they’re interested in. Put this on their tag in readable distance. This gives folks an excuse to look at someone’s name and create talking points.</p>
        </div>
        <div class="rules-item">
            <div class="icon">
            <img src="/images/icon-distance.png" class="mr-4" width="87">
            </div>
            <p>Fifteen feet is your target goal for readability.  Print your design early and often and test across the room in various lights for readability. Try long and short names.</p>
        </div>
        <div class="rules-item">
            <div class="icon">
            <img src="/images/icon-logo.png" class="mr-4" width="73">
            </div>
            <p>Make the conference logo and title really small and put them at the bottom. Everyone knows what conference they’re at. Seriously.</p>
        </div>
        <div class="rules-item">
            <div class="icon">
            <img src="/images/icon-holders.png" class="mr-4" width="105">
            </div>
            <p>Holders should not be able to flip over. Use badges and lanyards that utilize the top two holes in the corners of the holder.</p>
        </div>
        <div class="rules-item">
            <div class="icon">
            <img src="/images/icon-lanyard.png" class="mr-4" width="65">
            </div>
            <p>Lanyards need to be adjustable in length and comfortable to wear for an entire day.</p>
        </div>
        <div class="rules-item">
            <div class="icon">
            <img src="/images/icon-holder-size.png" class="mr-4" width="82">
            </div>
            <p>4” x 6” should be the standard size of the badge/holder. Yes, that big.</p>
        </div>

    </div>

</div>
</section>